streamlit==1.45.1
python-dotenv==1.1.0
langchain==0.3.25
langchain-openai==0.3.18
google-cloud-texttospeech==2.27.0
google-cloud-speech==2.32.0
numpy==2.2.6
pandas==2.2.3
PyYAML==6.0.2
requests==2.32.3
python-dateutil==2.9.0.post0
pinecone==6.0.2
yfinance==0.2.61
finnhub-python==2.4.23
